.subway-alerts {
  margin: 10px;
}

.subway-alerts-header {
  padding: 20px;
}
.subway-alerts-title {
  padding: 20px;
}
.multi-column-dropdown {
  max-width: 400px;
}
.trains-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.multi-column-dropdown .dropdown-item {
  flex: 1 0 25%;
  padding: 0;
  box-sizing: border-box;
}
.dropdown-train-icon {
  width: 24px;
  height: 24px;
}
.icon-checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* styles.css */
.trains-dropdown .dropdown-item {
  margin-bottom: 15px;
}
.multi-column-dropdown {
  column-count: 5;
  column-gap: 10px;
  padding: 10px;
  padding-top: 10px;
  padding-right: 40px;
}

.trains-dropdown .dropdown-item {
  margin-bottom: 8px;
  break-inside: avoid;
}

.map-transit-icons {
  width: 20px;
  height: 20px;
}

.no-alets {
  max-width: 20px;
}
.subwayAlerts-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.filter-dropdown {
  order: 7;
  align-self: start;
}
.clear-train {
  width: 10px;
}
ul {
  list-style: none;
}

.card-subway-icons {
  width: 32px;
  height: 32px;
}

.train-render-icon {
  width: 16px;
  height: 16px;
}

.directions-list {
  text-align: left;
}

.directions-list {
  text-align: left;
}
