button, .btn { 
  font-family: 'Raleway', sans-serif;
  font-weight: 700; 
  /* color: #fafafb; */
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; /* Medium weight */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900; /* Black weight */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-icons {
  color: #273170;
  font-size: 70px;
}

.select-menu {
  max-height: 150px;
  overflow-y: auto;
}


